@model IEnumerable<MagicVilla_Web.Models.Dto.VillaDTO>

    <img class="d-block w-100" src="image/home/slide1.jpg" alt=""""

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
